/* *{
    box-sizing: border-box;
} */

.note1_outer-box{
    width: 100vw;
    min-height: 48px;
    display: flex;
    justify-content: center;
    margin-top: 32px;
    margin-bottom: 16px
}

.note1_inner-box{
    display: flex;
    width: 600px;
    height: 48px;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
}

.note1_input-base{
    margin-left: 12px;
}