* {
    box-sizing: border-box;
}

.outer-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    min-height: 700px;
}

.inner-box {
    border: 1px solid #dadce0;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    width: 750px;
    padding: 48px 40px 36px;
    color: #202124;
    font-family: roboto, "Noto Sans Myanmar UI", arial, sans-serif;
    font-size: 14px;
    line-height: 1.4286;
}

.account-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.logo {
    display: flex;
    justify-content: flex-start;
}

.heading h1 {
    font-family: "Google Sans", "Noto Sans Myanmar UI", arial, sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.3333;
    margin: 0;
    padding-top: 16px;
    word-break: break-word;
    text-align: left;
}

.content {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    padding: 24px 0 0;
    vertical-align: top;
    white-space: normal;
    width: 100%;
    text-align: left;
}

form {
    margin-bottom: 16px;
}

.twofield {
    display: flex;
    justify-content: space-between;
}

.firstfield {
    margin-right: 8px;
}

.email,
.password {
    padding-top: 24px;
}

.suggest {
    color: #5f6368;
    margin-left: 10px;
    padding-top: 4px;
    flex: 1 1 auto;
    font: 400 12px Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    min-height: 16px;
}

.currentemail {
    padding: 6px 0;
    height: 48px;
}

.textbutton {
    background-color: transparent;
    color: #1a73e8;
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    letter-spacing: .0107142857em;
    font-weight: 500;
    text-transform: none;
    position: relative;
    right: 8px;
}

.account-image {
    display: flex;
    justify-content: flex-start;
    padding-left: 48px;
    width: 300px;
}

.figure {
    margin: 72px 4px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.figure figcaption {
    font-size: 16px;
    font-weight: 300;
}

.links {
    display: flex;
    margin-top: 26px;
    padding-bottom: 20px;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 480px) {

    .inner-box {
        width: 100%;
        height: 100%;
        padding: 24px 24px 36px;
        border: none;
    }

    .account-details {
        flex-grow: 1;
    }

    .account-image {
        display: none;
    }

    .twofield {
        flex-direction: column;
        flex-grow: 1;
    }

    .firstfield {
        margin: 0;
    }

    .lastfield {
        padding-top: 24px;
    }

    .textfield {
        width: 100%;
    }

    form {
        margin: 0;
    }
}

@media screen and (min-width: 480px) and (max-width: 768px) {

    .outer-box {
        min-height: 600px;
    }

    .inner-box {
        width: 450px;
        padding: 24px 24px 36px;
    }

    .account-image {
        display: none;
    }
}